
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --border-color: rgba(134, 110, 110, 1);
  --dark-green: rgba(28, 51, 34, 1);
  --white: rgba(255, 255, 255, 1);
  --off-white: rgba(246, 249, 252, 1);
}

html,body {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--dark-green);
  font-weight: 600; 
}

ul {
  list-style: none;
}

button:active {
  transform: scale(0.95);
 
}


.nav-bar {
  background-color: var(--dark-green);
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* TODO: add desktop nav-menu */
}

.nav-menu {
  display: flex;
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  color: var(--dark-green);
  background-color: var(--white);
  flex-direction: column;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-menu.active{
  left: 0;
}

.nav-item  {
  background: var(--dark-green);
  color: var(--white);
  font-size: 1.3em;
  font-weight: 400;
}

.remove {
  background: none;
}

.hamburger {
  display: block;
  padding: 1em;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  background-color: var(--white);
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--dark-green);
}

.logo {
  color: var(--white);
  margin: 0;
  text-decoration: none;
  padding: 1em;
}

.about-us {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 2em;
}

.paragraph {
  width: 100%;
  max-width: 600px;
  padding: 2em;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.footer * {
  margin-bottom: 1em;
}

@media screen and (min-width: 900px) {

  .landing-page {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  
  .nav-item {
    font-size: 1.1em;
    margin: 0;
  }

  .sign-up {
    padding: 0.5em 1.5em 0.5em 1.5em;
    color: white;
    background-color: var(--dark-green);
    border-radius: 5px;
  }

  .nav-bar {
    min-height: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  
  .nav-menu {
    display: flex;
    flex-direction: row;
    position: static;
    left: 0;
    align-items: center;
    gap: 60px;
    grid-column: 3 / 3;
  } 
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: 0;
    background-color: white;
    transition: 0;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .description {
    width: 90%;
    height: 100%;
    background: var(--dark-green); 
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .shop-link {
    margin: 0;
  }

  .call-to-action {
    margin-left: 3em;
    text-align: left;
  }

  .button-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3em;
    max-width: 330px;
  }

  .sign {
    color: var(--white);
  }

  .tagline-desc {
    padding-right: 2em;
  }
  


}
