@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --border-color: rgba(134, 110, 110, 1);
  --dark-green: rgba(28, 51, 34, 1);
  --white: rgba(255, 255, 255, 1);
  --off-white: rgba(246, 249, 252, 1);
}

html,body {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-size: 16px;
}


a {
  text-decoration: none;
  color: var(--dark-green);
  font-weight: 600; 
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  height: 100vh;
}

.landing-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url(../images/main-pic.png);
  background-size: cover;
}

.nav-header {
  padding: 0em 1em;
}

.nav-bar {
  min-height: 70px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.nav-menu {
  display: flex;
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  color: var(--dark-green);
  background-color: var(--white);
  flex-direction: column;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-menu.active{
  left: 0;
}

.nav-item  {
  margin: 20px 0;
  font-size: 1.3em;
  font-weight: 400;
}

.hamburger {
  display: block;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--dark-green);
}

.nav-link {
  transition: 0.7s ease;
}


.logo {
  color: var(--dark-green);
  margin: 0;
}

.shop-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--off-white);
}

.search-bar {
  width: 90%;
  height: 30px;
  padding: 1em 1em;
  border: 2px solid var(--dark-green);
  margin: 0.5em 1em; 
  border-radius: 5px;
  text-align: left;
}      

.shop-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 2em 0.8em 2em;
}

.item-image {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 800px;
  border-radius: 5px;
}

.plant-div {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  margin: 1em 0 1em 0;
}

.quantity {
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-content: center;
}

.add-button, .sub-button {
  border: none;
  font-size: 2em;
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  max-width: 100px;
  background: var(--white);
}

.add-to-cart {
  background: none;
  width: 100%;
  height: 50px;
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  padding: .5em;
}

.plant-func {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.counter {
  width: 100%;
  height: 100%;
  padding: 1em;
}

.plant-desc * {
  margin-bottom: 1.1em;
}

@media screen and (min-width: 640px) {
  .shop-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (min-width: 900px) {
  .shop-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}

@media screen and (min-width: 1200px) {
  .shop-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
}

@media screen and (min-width: 1800px) {
  .shop-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
  }
}


/* TODO: fix the background color */
